<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlt.dao.RoleDao" >
    <select id="findAllRole" resultType="Role">
        select * from role where available!=3
    </select>
    <select id="searchAllRole" parameterType="String" resultType="Role">
        select * from role where roleName like #{roleName} and available=1
    </select>
    <update id="deleteByRoleId" parameterType="int">
        update role set available=3 where roleId=#{roleId}
    </update>
    <insert id="insertRole" parameterType="Role">
        insert into role(roleName,roleDesc) values(#{roleName},#{roleDesc})
    </insert>
    <update id="updateRole" parameterType="Role">
        update role
        <trim prefix="set" suffixOverrides=",">
        <if test="available!=null">available=#{available},</if>
        <if test="roleName!=null">roleName=#{roleName},</if>
        <if test="roleDesc!=null">roleDesc=#{roleDesc},</if>
        </trim>
        where roleId=#{roleId}
    </update>
    <select id="findRoleById" parameterType="int" resultType="Role">
        select * from role where roleId=#{roleId} and available=1
    </select>
    <select id="findUserByRoleId" parameterType="int" resultType="User">
        select `user`.* from `user`,userrole where `user`.id=userId and roleId=#{roleId} and `user`.userStatus!=4
    </select>
    <delete id="deleteUserByRoleId">
        delete from userrole where userId=#{userId} and roleId=#{roleId}
    </delete>
    <insert id="insertRoleUser">
        insert into userrole(userId, roleId) values(#{userId},#{roleId})
    </insert>
</mapper>